/* html, body{
    height: 100%;
  } */

  

    .heading{
    font-size: 4em;
    font-weight: bold ;
    color: darkslategray;
    font-family: 'Archivo Black';
    }
  
  /* body{
    font-family: Helvetica Neue;
  } */