
.inputcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form{
  height: 35%;
  /* width :fit-content; */
    border: 5px solid #BED8D4;
    border-radius: 20%;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color:#F7F9F9 ;
    display: flex;
    padding: 45px;
  }
  
  /* input{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
  } */
    
  button{
    justify-content: center;
    align-items: center;
    margin: 2em;
  }
    